/*trivia*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

.trivia-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  max-width: 400px;
  /* Adjust based on your layout requirements */
  margin: auto;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.progress-bar-container {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-bottom: 10px;
}

.progress-bar {
  background-color: #004a3a;
  height: 30px;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease;
}

.quesProgress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Align items to the start (left) */
  width: 100%;
  position: relative; /* Make the container relative */
}

.quesProgress {
  width: 20%;
  background: none;
  color: white;
  border: 1px solid #004a3a;
  padding: 5px 5px;
  text-align: center;
  border-radius: 15px;
  font-size: 1em;
}

.next-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 5px;
  margin-left: auto;
  position: absolute; /* Position the button absolutely */
  left: 25%; /* Align the button to the right of its parent */
  /* Add margin-bottom to create space between the button and the question */
}

.next-button {
  background: none;
  border: none;
  font-size: 1em;
  color: #004a3a;
  cursor: pointer;
}

.question-container {
  width: 100%;
}

.question-text {
  background: white;
  color: #004a3a;
  border-radius: 10px;
  padding: 15px;
  margin: 0px;
  text-align: center;
}

.trivia-image {
  width: 90%;
  border-radius: 10px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttons-game{
  /*background-color: #004a3a;
  border: 1px solid #004a3a;*/
  color: aliceblue;
  border-radius: 10px;
  padding: 15px;
  margin: 0px;
  margin-bottom: 10px;
   /* Space between buttons */
   cursor: pointer;
   font-family: "Secular One", sans-serif;
   font-size: 20px;
}


/*wordGame*/

.words-container {
  font-family: "Secular One", sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin: 20% 0 20% 0;
  color: #004a3a;
}

.correct-ans{
  background-color: #004a3a;
}

.wrong-ans{
  background-color: #CE6548;
}


