/*trivia*/
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

.trivia-game {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.progress-bar-container {
  width: 100%;
  margin: 20px auto 10px auto;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.progress-bar {
  background-color: #004a3a !important;
  height: 30px;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease;
}

.quesProgress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.quesProgress {
  width: 20%;
  background: none;
  color: white;
  border: 1px solid #004a3a;
  padding: 5px 5px;
  text-align: center;
  border-radius: 15px;
  font-size: 1em;
}

.next-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 5px;
  margin-left: auto;
  position: absolute;
  left: 25%; /* Align the button to the right of its parent */
}

.next-button {
  background: none;
  border: none;
  font-size: 1em;
  color: #004a3a;
  cursor: pointer;
}

.question-container {
  width: 100%;
  max-height: 20%;
}

.question-text {
  background: white;
  color: #004a3a;
  border-radius: 10px;
  padding: 15px;
  margin: 0px;
  text-align: center;
  direction: rtl;
}

.trivia-image {
  width: 90%;
  border-radius: 10px;
  height: 70%;
  object-fit: cover; /* This property ensures the image maintains its aspect ratio */
}

.answers-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  direction: rtl;
  margin-top: 20px;
}

.buttons-game {
  border: 1px solid #004a3a !important;
  color: aliceblue;
  border-radius: 10px;
  padding: 15px;
  margin: 0px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: "Secular One", sans-serif;
  font-size: 20px;
}

/*wordGame*/
.popup-message-word {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 40%;
  transform: translate(-30%, -20%);
  padding: 5px;
}
.words-container {
  position: relative;
  font-family: "Secular One", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #004a3a;
  padding: 40% 0; /* Adjust padding for space around */
}

.correct-ans {
  background-color: #004a3a;
}

.wrong-ans {
  background-color: #ce6548;
  border: 1px solid #ce6548 !important;
}

/* pop up window at the end of each game */

.popup {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(254, 255, 255);
  border: 2px solid #ccc;
  padding: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 1);
  z-index: 9999;
  text-align: center;
  direction: rtl;
  border-radius: 10px;
  width: 75%;
  font-family: "Rubik", sans-serif;
  filter: none;
}

.popup-trivia {
  width: 50%;
  top: 25%;
  left: 40%;
}

.exit-popup {
  width: 60%;
  top: 40%;
  right: 45%;
}

.popup button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #004a3a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 100;
  transition: background-color 0.3s ease;
}

.popup button:hover {
  background-color: #003529;
}

.popup-p {
  margin-bottom: 3px;
  font-weight: 100 !important;
  text-align: right;
}

.popup-header {
  margin: 10px 0px;
  color: #004a3a;
  text-align: center;
  font-weight: bold;
}

.popup-message {
  padding: 10px;
}
.bold-text {
  font-weight: bold;
}

.exit-popup button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
}

.exit-buttons {
  font-size: 15px;
}

/* exit-popup direct child of trivia */
.trivia > .exit-popup {
  left: 45%;
  top: 35%;
  box-shadow: 0 8px 500px rgba(0, 0, 0, 1);
}

.wordGame > .exit-popup {
  left: 40%;
  top: 30%;
  box-shadow: 0 8px 500px rgba(0, 0, 0, 1);
}

.wordGame > .popup {
  left: 40%;
  top: 35%;
  width: 59%;
}

.instructions {
  position: fixed;
  top: -150px !important;
  /* left: -50px !important; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
